@font-face {
    font-family: "mainBody";
    src: url('/resources/fonts/Golos_Text/GolosText-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: "sinhala";
    src: url('/resources/fonts/Noto_Sans_Sinhala/NotoSansSinhala-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
    font-family: "timerText";
    src: url('/resources/fonts/Chivo_Mono/ChivoMono-VariableFont_wght.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: "mainBody";
    overflow-x: hidden;
    background-color: #3E5879;
    padding: 0px;
}

button {
    font-family: "mainBody";
}

button,
a,
i, div {
    transition: 0.3s ease;
}

h2 {
    font-size: 3em;
    color: #141414;
    margin-top: 30px;
    margin-bottom: 5px;
}

.header,
.footer {
    margin: 0;
}

.web-body {
    overflow: hidden;
}

.custom-navbar {
    color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.nav-container {
    width: 100%;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 20px;
}

.site-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 auto;
    min-width: 0;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.menu-toggle i {
    padding: 4px;
}

.menu-toggle i:hover {
    border-radius: 4px;
    transform: scale(1.1);
}

.nav-links-desktop {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-links-desktop li a,
.nav-links-mobile li a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    display: block;
}

.nav-links-desktop li:hover a {
    border-radius: 4px;
    background-color: #2E4976;
}


.nav-links-mobile li:hover a {
    border-radius: 4px;
    background-color: #2E4976;
}

.nav-links-mobile {
    display: none;
    flex-direction: column;
    width: 40%;
    min-width: 250px;
    padding: 15px 20px;
    list-style-type: none;
    margin: 0px;
    box-sizing: border-box;
    height: 100%;
    position: fixed;
    top: 0%;
    right: 0%;
    background-color: #3e5879;
    transition: 0.1s ease;

}

.nav-links-mobile li {
    width: 100%;
}

.nav-links-mobile.show {
    display: flex;
}

input {
    font-family: "mainBody";
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    background-color: #213555;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    box-sizing: border-box;
    border-width: 0px;
    scrollbar-width: none;
}

.navbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.navbar ul {
    flex: 1;
    background-color: #213555;
}

.navbar li {
    padding: 20px;
    padding-top: 15px;
    margin-bottom: 0;
}

.navbar a {
    display: block;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
}

.navbar li:hover {
    background-color: #2d2c52;
}

.web-body {
    display: flex;
    flex-wrap: wrap;
    background-color: #D8C4B6;
    min-height: 50vh;
    height: 100%;
    width: 100%;
    padding: 50px;
    padding-top: 100px;
    box-sizing: border-box;
    justify-content: center;
    line-height: 1.5;
}

.body-header,
.body-subheader {
    margin: 0;
    width: 100%;
    text-align: left;
}

.body-header {
    color: #213555;
    font-size: xx-large;
    margin: 8px 0;
}

.publication-title {
    margin-top: 30px;
}

.body-subheader {
    margin-top: 7px;
    color: #213555;
    font-weight: normal;
    font-size: large;
    margin-bottom: 30px;
}

.copyright-box {
    background-color: #213555;
    color: #f9f9f9;
    height: 15px;
    margin-bottom: -17px;
    z-index: 999;
}

.header {
    display: none;
}

.header-text {
    font-weight: bold;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 5px;
}

.subheader-text {
    color: #ededed;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 50px;
}

.footer {
    background-color: #3E5879;
    color: #ededed;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    box-sizing: border-box;
    max-width: 100vw;
    align-items: start;
}

.footer-heading {
    color: #fff;
}

.footer-items {
    flex: 1 1 30%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: auto;
    box-sizing: border-box;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.body-main {
    background-color: #f5efe7;
    color: #213555;
    padding: 50px;
    width: 65%;
    text-align: justify;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 20px;
}

.image-box {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #f5efe7;
}

.post-image {
    width: 100%;
}

.post {
    background-color: #f5efe7;
    padding: 15px 20px;
    width: 30%;
    margin: 10px;
    height: fit-content;
    overflow: hidden;
}

.post h3 {
    margin: 0px;
    margin-top: 10px;
    color: #141414;
    font-size: larger;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    margin-bottom: 5px;
}

.post p {
    color: #626262;
    font-size: small;
    overflow: hidden;
    margin-bottom: 20px;
    word-break: normal;
}

.post button {
    width: 100%;
    padding: 10px;
    background-color: #3E5879;
    border-style: none;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
}

.post button:hover {
    background-color: #213555;
}

.post img {
    width: calc(100% + 40px);
    height: auto;
    margin-top: -15px;
    margin-bottom: 5px;
    ;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    top: -50%;
    left: 0%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transition: transform 0.5s ease;
    filter: brightness(50%);
}

.blurMain {
    opacity: 1;
}

.blurMain.blur {
    opacity: 0.1;
    filter: blur(4px);
}

.message {
    background-color: #ddd;
    color: #555;
    border-radius: 10px;
    padding: 10px;
    width: medium;
    max-width: 70%;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: medium;
    text-align: left;
}

.message-body {
    font-size: auto;
    text-align: left;
}

.instagram-post {
    width: 45%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    background-color: #15202b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    height: auto;
    min-width: 250px;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.poster-name {
    font-weight: bold;
    margin-bottom: auto;
    margin-top: auto;
    color: #fff;
}

.image-box {
    width: 60%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    width: 200%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease;
}

.slider img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    Flex: 1;
    margin-bottom: 10px;
}

.caption {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #eee;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    color: #111;
    font-family: georgia;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: center;
}

.notused {
    background-color: #FFFF00;
}

.sounds {
    background-color: #30C5FF;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.block {
    background-color: #3E5879;
    padding: 20px;
    width: 40%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    min-width: 200px;
    color: #dedede;
    text-align: left;
}

.block img {
    width: 100%;
    height: auto;
}

.block p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.heading {

    font-size: large;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.buttons {
    margin-top: 20px;
    display: flex;
}

.buttons button {
    padding: auto;
    max-height: 50px;
    height: 3em;
    margin-right: 5px;
    width: 50%;
}

.buttons a {
    color: #111;
    font-style: normal;
    font-size: medium;
    text-decoration: none;
}

.warning {
    border: #ED2939;
    border-radius: 10px;
    font-size: small;
    border-style: solid;
    padding: 20px;
    background-color: #fe9f9f;
    color: #A91101;
    line-height: 1.5em;
    text-align: left;
}

.blur-poem {
    background-color: white;
    padding: 6px 8px;
    font-size: small;
    border-style: none;
    border-radius: 5px;
    color: #A91101;
}

.blur-poem:hover {
    background-color: #A91101;
    color: white;
}

.writings {
    border: solid #000;
    border-width: 2px;
    padding: 20px;
    width: 45%;
    margin: 0 auto 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
}

.writings button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #3E5879;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: calc(100% - 40px);
    margin-bottom: 10px;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
}

.writings button:hover {
    background-color: #2a2842;
}

.writings h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    margin-top: 0;
}

.writings p {
    font-size: 16px;
    color: #444;
    line-height: 1.5;
    margin-bottom: 20px;
}

.writings w {
    color: red;
}

.indent {
    text-indent: 4ch;
}

.dialogue {
    margin: 0;
    line-height: 1.8em;
    text-indent: 8ch;
}

.container {
    display: inline-block;
}

.text {
    display: inline-block;
    margin-right: 10px;
}

.searchDrop {
    position: relative;
    display: inline-block;
}

.searchDrop select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.searchDrop select:focus {
    outline: none;
}

.searchDrop option {
    padding: 10px;
}

.archive-post {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;

}

.archive-data {
    min-width: 200px;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
    border: #213555 2px solid;
}

.terms {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    width: 80%;
    background-color: rgb(255, 247, 237);
}

.terms th {
    background-color: antiquewhite;
    font-size: medium;
}

.terms td {
    text-align: left;
}

.library-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.library-buttons a {
    text-decoration: none;
    color: #3E5879;
}

.library-button {
    background-color: #fff;
    border: 0px solid #fff;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: medium;
    width: auto;
    height: auto;
}

.library-button:hover {
    background-color: #eee;
}

.library-button img {
    width: 60%;
    object-fit: contain;
}

.library-button span {
    margin-top: 10px;
}

.stopwatch {
    margin-bottom: 20px;
    font-family: 'timerText', 'Fira Mono', monospace;
    color: #333;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.controls {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.controls button {
    font-size: 1em;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #3E5879;
    color: white;
    transition: background-color 0.3s;
    box-sizing: border-box;
    max-width: 80px;
    max-height: 80px;
}

.settings button {
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #f5efe7;
    color: #213555;
    transition: background-color 0.3s;
    box-sizing: border-box;
    height: 30px;
    width: 30px;

}

.controls img {
    width: 30px;
}

.settings button:hover {
    background-color: #d8c4b6;
}

.controls button:hover {
    background-color: #213555;
}

.settings-container {
    margin-top: 20px;
}

.settings {
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 25px;
    background-color: #f5efe7;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #213555;
    box-sizing: border-box;
    width: 60%;
}

.settings div {
    width: 100%;
    margin-top: 3px;
    color: #213555;
    text-align: left;
}

.settings input {
    max-width: 55px;
    height: 1.5em;
    border-width: 0px;
    background-color: #fff;
    text-align: center;
    font-size: medium;
    color: #213555;
    margin: 5px;
    padding: 3px;
}

.settings select {
    border-width: 0px;
    background-color: #fff;
    text-align: left;
    font-size: medium;
    color: #213555;
    margin-top: 5px;
    padding: 5px;
}

.blur {
    width: 100%;
    height: 100%;
    filter: blur(0) saturate(1);
}

.settings label {
    margin-right: 10px;
}

.toggle-settings {
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #8e443d;
    color: white;
    transition: background-color 0.3s;
}

.toggle-settings:hover {
    background-color: #8e443d;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
}

.search-container button {
    width: 40px;
    height: 40px;
    font-size: 24px;
    color: #f0f0f0;
    border: 0px solid #3E5879;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #3E5879;
}

.search-container input {
    flex-grow: 1;
    min-width: 0p;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;
    box-sizing: border-box;
}

.search-container input:focus {
    border-color: #007bff;
    outline: none;
}

.glossary-list {
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

.glossary-item {
    padding: 15px;
    background-color: #f5efe7;
    border: 1px none #f5efe7;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    list-style-type: none;
}

.glossary-item:hover {
    background: #fff;
}

.term {
    font-weight: bold;
}

.definition {
    margin-top: 5px;
    font-size: small;
}

.theme {
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.theme div {
    background-color: #bbb;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: calc(50% - 45px);
    margin-bottom: 20px;
}

.theme h3 {
    margin: 0px;
}

.theme p {
    margin: 0px;
    margin-top: 05px;
}

.theme img {
    height: 50px;
}

.debating-intro {
    margin-bottom: 20px;
}

.row {
    display: grid;
    grid: 100% / auto auto auto;
    padding: 30px;
    gap: 15px
}

.box {
    background-color: #d5e2ff;
    border-color: #3E5879;
    border-width: 2px;
    border-style: solid;
    padding: 15px 25px;
    margin: 0px;
    margin-top: 15px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

.box:hover {
    background-color: #bacefb;
}

.box h3 {
    margin-bottom: 0;
    text-align: left;
}

.box p {
    text-align: left;
}

.timings {
    border-color: #444444;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 25px;
    margin: 0px;
    margin-top: 25px;
    border-radius: 10px;
}

.timings p {
    margin: 0px;
    line-height: 2em;
    font-weight: 600;
}

.debating-intro {
    text-align: left;
}

.teach-buttons {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.teach-buttons button {
    font-size: smaller;
    border-radius: 10px;
    background-color: #d8c4b6;
    color: #213555;
    border-width: 0px;
    margin: 5px;
    opacity: 1;
    height: 100px;
    min-width: 100px;
    max-width: 100px;
    text-align: center;

}

.teach-buttons button:hover {
    cursor: pointer;
}

.teach-buttons i:hover {
    cursor: pointer;
    background-color: #213555;
}

.teach-buttons i {
    background-color: #3E5879;
    color: #f5efe7;
    margin-bottom: 8px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 25px 15px;
    width: 95px;
    height: 95px;
    font-size: 45px;
}

.img-caption {
    margin-bottom: 0px;
    margin-top: 2px;
    font-size: x-small;
    color: #555;
    margin-right: 10px;
    text-align: right;
}

.img-caption a {
    color: #555;
    text-decoration: underline;
}

.thing {
    background-color: #f5efe7;
    padding: 20px 25px;
    width: 100%;
    margin-bottom: 20px;
    height: fit-content;
    box-sizing: border-box;
}

.thing-a {
    text-decoration: none;
}

.thing-a:hover .thing {
    background-color: #fff;
}

.thing h3 {
    margin: 0px;
    margin-top: 5px;
    color: #141414;
    font-size: larger;
    margin-bottom: 5px;
    text-align: left;
}

.thing p {
    color: #626262;
    font-size: small;
    overflow: hidden;
    margin-bottom: 5px;
    word-break: normal;
    text-align: left;
    line-height: 1.5em;
}

.thing br {
    margin-bottom: 10px;
}

.tag {
    background-color: #d8c4b6;
    padding: 2px 4px;
    margin-right: 3px;
    color: #213555;
    opacity: 0.7;
    line-height: 2em;
}

.filter {
    background-color: #f5efe7;
    color: #213555;
    border-width: 0px;
    padding: 7px 10px;
    margin-right: 3px;
}

.filter:hover {
    cursor: pointer;
}

.teach-list {
    padding-top: 15px;
}

.teach-title {
    padding-top: 20px;
    padding-bottom: 0px;
}

.sinhala-letters {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.sinhala-letter {
    width: 15%;
    background-color: #f5efe7;
    text-align: center;
    padding: 0%;
    margin-bottom: 2%;
}

.sinhala {
    font-size: xx-large;
    margin: 0px;
    padding: 0%;
}

.english {
    font-size: medium;
    margin: 0px;
    padding: 0%;
}

.the-letter {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0%;
}

.wbc-player {
    background-color: #4D4C7D;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    color: #fff;
}

.wbc-player img {
    width: 100%;
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #222;
}

.stuff-holder {
    width: 30%;
    border: transparent 3px solid;
    background-color: transparent;
    color: transparent;
    border-radius: 10px;
    overflow: scroll;
    font-size: small;
    text-align: left;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.audio-player {
    flex: 1;
    min-width: 0;
}

.audio-player audio {
    width: 100%;
}

.audio-player h2 {
    text-align: left;
    margin-bottom: 0px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio-player p {
    text-align: left;
    margin: 2px auto;
}

.audio-player table,
th,
td {
    width: 100%;
    border: 0px none;
}

.audio-func {
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.audio-func button {
    background-color: #fff;
    color: #4D4C7D;
    border-width: 0px;
    height: 45px;
    width: 45px;
    text-align: center;
    vertical-align: middle;
}

.audio-func button:hover {
    background-color: #363062;
    color: #fff;
    cursor: pointer;
}

.stuff-holder button {
    padding: 5px 10px;
    border-width: 0;
    background-color: white;
    color: #a91101;
    margin-top: 10px;
    width: 100%;
}

.description {
    background-color: #363062;
    color: #f5efe7;
    padding: 20px;
    font-size: small;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.description.collapsed {
    display: none;
    max-height: 0;
    padding: 0 !important;
    margin-top: 0 !important;
}

.descriptionText {
    color: #363062;
}

.title-box h1 {
    font-size: 3em;
    margin-bottom: 15px;
}

.hover-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
    z-index: 2;
}

.time {
    padding: 0px;
    width: 10px;
    font-family: consolas;
    color: #fff;
    font-size: small;
}

.wbc-episodes {
    padding: 00px;
    background-color: #f5efe7;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.wbc-episode {
    background-color: #fcfcfc;
    min-width: 100%;
    padding: 18px;
    color: #363062;
    text-decoration: none;
    box-sizing: border-box;
}

.wbc-episodes a {
    text-decoration: none;
}

.wbc-episode:hover {
    background-color: #D8C4B6;
    cursor: pointer;
}

.wbc-episode h3 {
    margin: 0;
    font-size: medium;
    width: 100%;
    text-align: left;
}

.wbc-episode p {
    font-size: small;
    text-align: left;
    margin-bottom: 0px;
    width: 100%;
}

.title-box {
    margin-bottom: 60px;
    text-align: left;
}

.alphabet {
    font-family: sinhala;
    font-style: normal;
    font-weight: bold;
}

.about-me {
    text-align: left;
}

.about-me h2 {
    font-size: 3em;
}

.about-me p {
    font-size: 1.2em;
    margin-top: 15px;
    padding: 0px;
}

.my-socials {
    list-style: none;
    display: flex;
    padding: 0px;
    gap: 15px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.my-socials button {
    background-color: #3e5879;
    font-size: 2em;
    width: 2em;
    height: 2em;
    color: #f5efe7;
    border: none 0px;
    padding: 7px;
    box-sizing: border-box;
}

.my-socials button:hover {
    cursor: pointer;
    background-color: #213555;
}

.wbc-button {
    display: flex;
    box-sizing: border-box;
    padding: 14px;
    background-color: #4d4c7d;
    color: white;
    border: 0px none;
    border-radius: 10px;
}

.wbc-button:hover {
    background-color: #363062;
    cursor: pointer;
}

.wbc-button i {
    font-size: 23px;
    margin-right: 7px;
}

.wbc-button p {
    font-size: 18px;
    margin: 0px;
    line-height: 23px;
}

.wbc-buttons {
    display: flex;
    gap: 15px;
    margin-top: 32px;
}

.subHeader {
    margin-top: 0px;
    margin-bottom: 30px;
    color: #484848;
    text-align: left;
}

@media screen and (max-width: 350px) {
    .site-title {
        max-width: 180px;
        padding: 20px;
    }

    .top-row {
        padding: 0px;
    }
}

@media screen and (max-width: 450px) {
    .theme div {
        width: 100%;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 550px) {
    .stopwatch {
        font-size: 18vw;
    }
}

@media (max-width: 600px) {
    .library-button img {
        width: 60%;
    }

    .library-button {
        max-width: none;
        max-height: none;
    }
}

@media (max-width: 650px) {
    .wbc-player {
        flex-direction: column;
        align-items: center;
        padding: 5vw;
    }

    .description {
        padding: 5vw;

    }

    .stuff-holder {
        width: 100%;
    }

    .audio-player {
        width: 100%;
    }

    .title-box h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 700px) {
    .body-main {
        padding: 35px;
        width: 100%;
        font-size: small;
    }

    .image-box {
        width: 100% !important;
    }

    .web-body {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        background-color: #f5efe7;
        width: 100%;
        padding-top: 72px;
    }

    .footer-items {
        width: 100%;
        font-size: small;
    }

    .post-block {
        width: 90%;
    }

    .post {
        width: 100%;
    }

    .header-text,
    .subheader-text {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        padding: 10px 5%;
    }

    .navbar {
        padding-left: 10px;
    }

    .publication-title {
        margin-top: 0px;
    }

    .stopwatch {
        font-size: 16vw;
    }

    .navbar li {
        min-width: 75px;
    }

    .navbar {
        padding-left: 10px;
        padding-right: 60px;
    }
}

@media (min-width: 700px) and (max-width: 1320px) {
    .wbc-player {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .description {
        padding: 50px;
    }

    .stuff-holder {
        width: 100%;
    }

    .audio-player {
        width: 100%;
    }

    .title-box h1 {
        font-size: 3em;
    }

    .search-container {
        width: 100%;
    }

    .thing button {
        width: fit-content;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .body-main {
        padding: 40px;
        width: 90%;
    }

    .image-box {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .writings {
        width: 90%;
        padding: 15px;
    }

    .writings h3 {
        font-size: 14px;
    }

    .writings p {
        font-size: 11px;
    }
}

@media screen and (max-width: 801px) {
    .search-container {
        width: 100%;
    }
}

@media screen and (min-width: 801px) {
    .body-main {
        width: 60%;
    }

    .image-box {
        width: 60%;
    }

    .post-block {
        width: 30%;
    }

    .search-container {
        width: 60%;
    }
}

@media (max-width: 1100px) {
    .menu-toggle {
        display: block;
    }

    .nav-links-desktop {
        display: none;
    }
}

@media (min-width: 1100px) {
    .nav-links-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 1200px) {
    .stopwatch {
        font-size: 11vw;
    }

    .writings {
        width: 90%;
        padding: 15px;
        min-height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .stopwatch {
        font-size: 10vw;
    }
}