.message {
  background-color: #ddd;
  color: #555;
  border-radius: 10px;
  padding: 10px;
  width: medium;
  max-width: 70%;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: medium;
  text-align: left;
}

.message-body {
  font-size: auto;
  text-align: left;
}

.instagram-post {
  width: 45%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  background-color: #15202b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  height: auto;
  min-width: 250px;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.poster-name {
  font-weight: bold;
  margin-bottom: auto;
  margin-top: auto;
  color: #fff;
}

.image-box {
  width: 60%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.slider {
  width: 200%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.slider img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  display: flex;
  Flex: 1;
  margin-bottom: 10px;
}

.caption {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #eee;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin-top: 20px;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  color: #111;
  font-family: georgia;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
  text-align: center;
}

.notused {
  background-color: #FFFF00;
}

.sounds {
  background-color: #30C5FF;
}

.box {
  display: flex;
  flex-wrap: wrap;
}

.block {
  background-color: #3E5879;
  padding: 20px;
  width: 40%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  min-width: 200px;
  color: #dedede;
  text-align: left;
}

.block img {
  width: 100%;
  height: auto;
}

.block p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading {

  font-size: large;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

.buttons {
  margin-top: 20px;
  display: flex;
}

.buttons button {
  padding: auto;
  max-height: 50px;
  height: 3em;
  margin-right: 5px;
  width: 50%;
}

.buttons a {
  color: #111;
  font-style: normal;
  font-size: medium;
  text-decoration: none;
}

.warning {
  border: #ED2939;
  border-radius: 10px;
  font-size: small;
  border-style: solid;
  padding: 20px;
  background-color: #fe9f9f;
  color: #A91101;
  line-height: 1.5em;
  text-align: left;
}

.blur-poem {
  background-color: white;
  padding: 6px 8px;
  font-size: small;
  border-style: none;
  border-radius: 5px;
  color: #A91101;
}

.blur-poem:hover {
  background-color: #A91101;
  color: white;
}

.about-me {
  padding: 30px;
}

.about-me img {
  border-radius: 50%;
  width: 60%;

}

.about-me h2 {
  text-decoration: none;
}

.writings {
  border: solid #000;
  border-width: 2px;
  padding: 20px;
  width: 45%;
  margin: 0 auto 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
}

.writings button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #3E5879;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: calc(100% - 40px);
  margin-bottom: 10px;
  margin-top: 15px;
  position: absolute;
  bottom: 0;
}

.writings button:hover {
  background-color: #2a2842;
}

.writings h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 0;
}

.writings p {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
  margin-bottom: 20px;
}

.writings w {
  color: red;
}


@media (max-width: 1200px) {
  .writings {
    width: 90%;
    padding: 15px;
    min-height: 500px;
  }
}

@media (max-width: 768px) {
  .writings {
    width: 90%;
    padding: 15px;
  }

  .writings h3 {
    font-size: 14px;
  }

  .writings p {
    font-size: 11px;
  }
}



.writingsSc {
  border: solid #960018;
  border-width: 2px;
  padding: 10px 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: antiquewhite;
}

.writingsSc button {
  padding: 10px 20px;
  border-radius: 10px;
  border: solid #960018;
  background-color: #960018;
  color: #efefef;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
}

.writingsSc button:hover {
  background-color: antiquewhite;
  color: #960018;
}

.writingsSc h3 {
  line-height: 1.2em;
}


.redir-notice {
  border: #2669eb solid 3px;
  padding: 10px 20px;
  font-size: large;
  text-align: center;
  border-radius: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.redir-notice button {
  border: #2669eb solid 3px;
  border-radius: 10px;
  padding: 10px;
  background-color: #2669eb;
  color: white;
  font-family: consolas;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 10px;
}

.redir-notice button:hover {
  cursor: pointer;
}

.indent {
  text-indent: 4ch;
}

.dialogue {
  margin: 0;
  line-height: 1.8em;
  text-indent: 8ch;
}

.container {
  display: inline-block;
}

.text {
  display: inline-block;
  margin-right: 10px;
}

.searchDrop {
  position: relative;
  display: inline-block;
}

.searchDrop select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.searchDrop select:focus {
  outline: none;
}

.searchDrop option {
  padding: 10px;
}


.archive-post {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;

}

.archive-data {
  min-width: 200px;
  width: 100%;
  padding-left: 20px;
  padding-right: 10px;
  border: #213555 2px solid;
}

.terms {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  width: 80%;
  background-color: rgb(255, 247, 237);
}

.terms th {
  background-color: antiquewhite;
  font-size: medium;
}

.terms td {
  text-align: left;
}

.library-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.library-buttons a {
  text-decoration: none;
  color: #3E5879;
}

.library-button {
  background-color: #fff;
  border: 0px solid #fff;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: medium;
  width: auto;
  height: auto;
}

.library-button:hover {
  background-color: #eee;
}

.library-button img {
  width: 60%;
  object-fit: contain;
}

.library-button span {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .library-button img {
    width: 60%;
  }

  .library-button {
    max-width: none;
    max-height: none;
  }
}

@font-face {
  font-family: "timerText";
  src: url('/resources/fonts/Chivo_Mono/ChivoMono-VariableFont_wght.ttf') format('truetype');
}

.stopwatch {
  margin-bottom: 20px;
  font-family: 'timerText', 'Fira Mono', monospace;
  color: #333;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .stopwatch {
    font-size: 10vw;
  }
}

@media screen and (max-width: 1200px) {
  .stopwatch {
    font-size: 11vw;
  }
}

@media screen and (max-width: 700px) {
  .stopwatch {
    font-size: 16vw;
  }
}

@media screen and (max-width: 550px) {
  .stopwatch {
    font-size: 18vw;
  }
}

.controls {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.controls button {
  font-size: 1em;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #3E5879;
  color: white;
  transition: background-color 0.3s;
  box-sizing: border-box;
  max-width: 80px;
  max-height: 80px;
}

.settings button {
  font-size: 1em;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #f5efe7;
  color: #213555;
  transition: background-color 0.3s;
  box-sizing: border-box;
  height: 30px;
  width: 30px;

}

.controls img {
  width: 30px;
}

.settings button:hover {
  background-color: #d8c4b6;
}

.controls button:hover {
  background-color: #213555;
}

.settings-container {
  margin-top: 20px;
}

.settings {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 25px;
  background-color: #f5efe7;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #213555;
  box-sizing: border-box;
}

.settings div {
  width: 100%;
  margin-top: 3px;
  color: #213555;
  text-align: left;
}

.settings input {
  max-width: 55px;
  height: 1.5em;
  border-width: 0px;
  background-color: #fff;
  text-align: center;
  font-size: medium;
  color: #213555;
  margin: 5px;
  padding: 3px;
}
.settings select {
  border-width: 0px;
  background-color: #fff;
  text-align: left;
  font-size: medium;
  color: #213555;
  margin-top: 5px;
  padding: 5px;
}

.blur {
  width: 100%;
  height: 100%;
  filter: blur(0) saturate(1);
}

.settings label {
  margin-right: 10px;
}

.toggle-settings {
  font-size: 1em;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #8e443d;
  color: white;
  transition: background-color 0.3s;
}

.toggle-settings:hover {
  background-color: #8e443d;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
}

.search-container button {
  width: 40px;
  height: 40px;
  font-size: 24px;
  background-color: #f0f0f0;
  border: 0px solid #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #213555;
}

.search-container input {
  flex-grow: 1;
  min-width: 0p;
  padding: 10px;
  border: 0px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
  box-sizing: border-box;
}

.search-container input:focus {
  border-color: #007bff;
  outline: none;
}

.glossary-list {
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.glossary-item {
  padding: 15px;
  background-color: #fff;
  border: 1px none #fff;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.glossary-item:hover {
  background: #f0f8ff;
}

.term {
  font-weight: bold;
}

.definition {
  margin-top: 5px;
}

.theme {
  background-color: #ddd;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.theme div {
  background-color: #bbb;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  width: calc(50% - 45px);
  margin-bottom: 20px;
}

.theme h3 {
  margin: 0px;
}

.theme p {
  margin: 0px;
  margin-top: 05px;
}

.theme img {
  height: 50px;
}

@media screen and (max-width: 450px) {
  .theme div {
    width: 100%;
    margin-bottom: 20px;
  }

}

.debating-intro {
  margin-bottom: 20px;
}

.row {
  display: grid;
  grid: 100% / auto auto auto;
  padding: 30px;
  gap: 15px
}

.box {
  background-color: #d5e2ff;
  border-color: #3E5879;
  border-width: 2px;
  border-style: solid;
  padding: 15px 25px;
  margin: 0px;
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.box:hover {
  background-color: #bacefb;
}

.box h3 {
  margin-bottom: 0;
  text-align: left;
}

.box p {
  text-align: left;
}

.timings {
  border-color: #444444;
  border-width: 2px;
  border-style: solid;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 25px;
  margin: 0px;
  margin-top: 25px;
  border-radius: 10px;
}

.time-val {
  font-family: "timertext";
}

.debating-intro {
  text-align: left;
}

.debating-buttons {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.debating-buttons button {
  font-size: smaller;
  border-radius: 10px;
  background-color: #d8c4b6;
  color: #213555;
  border-width: 0px;
  margin: 5px;
  opacity: 1;
  height: 100px;
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}

.debating-buttons button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.debating-buttons i {
  background-color: #213555;
  padding: 22px 15px;
  color: #f5efe7;
  font-size: 45px;
  margin-bottom: 8px;
  text-align: center;
  vertical-align: middle;
  width: 60px;

}

.img-caption {
  margin-bottom: 0px;
  margin-top: 2px;
  font-size: x-small;
  color: #555;
  margin-right: 10px;
  text-align: right;
}

.img-caption a {
  color: #555;
  text-decoration: underline;
}

.thing {
  background-color: #f5efe7;      
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 10px;
  height: fit-content;
  box-sizing: border-box;
}

.thing h3 {
  margin: 0px;
  margin-top: 10px;
  color: #223322;
  font-size: larger;
  margin-bottom: 5px;
  text-align: left;
}


.thing p {
  color: #626262;
  font-size: small;
  overflow: hidden;
  margin-bottom: 20px;
  word-break: normal;
  text-align: left;
  line-height: 2em;
}

.thing button {
  width: 20%;
  padding: 10px;
  background-color: #3E5879;
  border-style: none;
  color: white;
  margin-bottom: 5px;
  cursor: pointer;	
}

.thing button:hover {
  background-color: #213555;
}

.tag {
  background-color: #d8c4b6;
  padding: 2px 4px;
  margin-right: 3px;
  color: #213555;
}

.filter {
  background-color: #f5efe7;
  color: #213555;
  border-width: 0px;
  padding: 7px 10px;
  margin-right: 3px;
}

.filter:hover {
  cursor: pointer;
}