body {
    margin: 0px;
    font-family: Arial;
    background-color: #c6d8ff;
}
.nav-bar {
    width: 100%;
}
.nav-bar button {
    padding: 15px;
    color: #FFF;
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial;
}
.nav-bar button:hover {
    background-color: #1B1B32;
    color: #C7CEDB;
    border-style: none;
}
.topic-box {
    padding: 3vw;
    padding-left: 5vw;
    background-color: #1B1B32;
    color: #fff;
    line-height: 1em;
}
.topic-box h3 {
    color: #C7CEDB;
    font-size: large;
    font-weight: normal;
}
.content-box {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    position: relative;
    margin: 50px auto;
    min-height: 40vh;
}
.footer-box {
    background-color: #1B1B32;
    padding: 20px;
    color: #C7CEDB;
    text-align: center;
}
.footer-box a {
    color: #C7CEDB;
    text-decoration: underline;
}

@media screen and (max-width: 501px) {
    .topic-box {
        line-height: 0.5em;
        padding-top: 5vw;
        padding-bottom: 5vw;
    }
    .topic-box h1 {
        font-size: large;
    }
    .topic-box h3 {
        font-size: medium;   
    }
    .footer-box p {
        font-size: small;
    }
}