.header {
    background-color: brown;
    margin-bottom: 0px;
    padding: 20px;
    color: antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 701px) {
    .header-text {
        margin-top: 40px;
        margin-bottom: 0px;
        margin-left: 20px;
    }

    .subheader-text {
        margin-top: 5px;
        font-weight: normal;
        font-style: italic;
        margin-left: 20px;
    }

    .nav {
        background-color: goldenrod;
        margin-top: 0px;
        padding-left: 20px;
    }

    .nav button {
        border: 0px;
        background-color: goldenrod;
        padding: 20px;
        font-size: medium;
    }

    .content {
        background-color: whitesmoke;
        padding: 20px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 700px) {
    .header-text {
        margin-top: 40px;
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: larger;
        text-align: center;
    }

    .subheader-text {
        margin-top: 5px;
        font-weight: normal;
        font-style: italic;
        margin-left: 20px;
        margin-right: 20px;
        font-size: medium;
        text-align: center;
    }

    .nav {
        background-color: goldenrod;
        margin-top: 0px;
        padding-left: 20px;
        align-content: center;
    }

    .nav button {
        border: 0px;
        background-color: goldenrod;
        padding: 20px;
        font-size: medium;
    }

    .content {
        background-color: whitesmoke;
        padding: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

.nav button:hover {
    background-color: darkgoldenrod;
    transition: ease-in-out;
}

@media screen and (min-width: 501px) {
    .web-body {
        background-color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        width: calc(100%-40px);
        height: 100%;
        min-height: 50vh;
        padding: 35px;
    }
}

@media screen and (max-width: 500px) {
    .header-text {
        margin-top: 40px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        font-size: large;
    }

    .subheader-text {
        margin-top: 10px;
        font-weight: normal;
        font-style: italic;
        margin-left: auto;
        margin-right: auto;
        font-size: small;
    }

    .nav {
        background-color: goldenrod;
        margin-top: 0px;
        padding-left: 20px;
        overflow-x:scroll;
    }

    .nav button {
        border: 0px;
        background-color: goldenrod;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: small;
    }

    .web-body {
        background-color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        width: calc(100%-40px);
        height: 100%;
        min-height: 50vh;
        padding: 7px;
        font-size: small;
    }

    .content {
        background-color: whitesmoke;
        padding: 20px;
        width: 80%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-items {
        font-size: small;
    }
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;
    color: #ededed;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-heading {
    color: #fff;
}

.footer-items {
    width: calc(100%-40px);
    height: max-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.a {
    color: white;
    font-style: normal;
}

.writings {
    border: solid goldenrod;
	border-width: 2px;
    padding: 10px 20px;
    width: 40%;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    }
    
  .writings button {
    padding: 10px 20px;
    border-radius: 10px;
    border: solid brown;
    background-color: brown;
    color: #efefef;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
    }
    
  .writings h3 {
    line-height: 0.5em;
    }

  .writings w {
    color: red;
    }